<div class="container">
    <!-- main content-->
    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="reset-password">
            <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
                <fieldset>
                    <legend>Kullanıcı Şifresi Yönetimi</legend>
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-posta adresi</label>
                        <input type="email" name="reset-password-email" required ngModel class="form-control"
                            placeholder="email (example@email.com)">
                        <small class="form-text text-muted">E-postanızı asla başkalarıyla paylaşmayacağız.</small>
                    </div>
                    <button type="submit" [disabled]="false" class="btn btn-primary">
                        <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                        <span *ngIf="refreshing">Yükleniyor...</span>
                        <span *ngIf="!refreshing">Şifreyi yenile</span>
                    </button>
                    <a class="button-login-page" routerLink="/login">Giriş sayfası</a>
                </fieldset>
            </form>
        </div>
        <a [hidden]="true" id="reseted-password" data-toggle="tab" data-target="#email-sent"></a>
        <div class="tab-pane fade show " id="email-sent">
            <br><br>
            <fieldset>
                <legend>Kullanıcı Şifresi Yönetimi</legend>
                <div class="form-group">
                    <label>Yeni şifreniz <strong>{{email}}</strong> hesabınıza gönderildi!</label>
                </div>
                <a class="button-login-page" routerLink="/login">Giriş sayfası</a>
            </fieldset>
        </div>
    </div>
</div>