
<nav class="navbar topbar navbar-expand-lg navbar-dark">
   <a class="navbar-brand ml-1 head-title" style="color:white;">Mahalle</a>

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <!-- add Neighbourhood button -->
            <a class="nav-link" (click)="onOpenModal(null, 'add')">Mahalle Ekle <span
                  class="sr-only">(current)</span></a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="search(key.value)" #key="ngModel" ngModel name="key" id="searchName"
            class="form-control mr-sm-2" placeholder="Mahalle ara..." required>
      </form>
   </div>
</nav>

<!--Show data  -->
<div class="container" id="main-container">
   <div class="row">
      <div *ngFor="let neighbourhood of neighbourhoodes" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-4 card-title align-self-center mb-0">
                  <h5>{{neighbourhood?.name |titlecase}} </h5>
               </div>
            </div>
            <ul class="list-group list-group-flush">
          
               <li class="list-group-item"><i class="fa fa-envelope float-right"></i><strong>İlçe : </strong>
                  {{neighbourhood?.district?.name| titlecase}} </li>
               <li class="list-group-item"><i class="fa fa-envelope float-right"></i><strong>Şehir : </strong>
                  {{neighbourhood?.district?.city?.name| titlecase}} </li>
            </ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <!-- edit Neighbourhood button-->
                  <a (click)="onOpenModal(neighbourhood, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                     data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <!-- delete Neighbourhood button -->
                  <a (click)="onOpenModal(neighbourhood, 'delete')" class="btn btn-secondary tooltips"
                     data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Add Neighbourhood Modal -->
   <div class="modal fade" id="addNeighbourhoodModal" tabindex="-1" role="dialog"
      aria-labelledby="addNeighbourhoodModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="addNeighbourhoodModalLabel">Mahalle Ekle</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #addForm="ngForm" (ngSubmit)="onAddNeighbourhood(addForm)">
                  <!-- User Neighbourhood input -->
                  <div class="form-group">
                     <label for="name">Mahalle</label>
                     <input type="text" ngModel name="name" class="form-control" id="name"
                        placeholder="Mahalle adı" required>
                  </div>

                  <!-- Districts -->
                  <div class="form-group">
                     <select [(ngModel)]="selectedDistrict" name="district" id="district" class="form-control" required>
                        <option *ngFor="let district of districts" [ngValue]="district">{{district?.name}}-
                           {{district?.city?.name}}</option>
                     </select>
                  </div>

                  <div class="modal-footer">
                     <button type="button" id="add-Neighbourhood-form" class="btn btn-secondary"
                        data-dismiss="modal">Kapat</button>
                     <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Kayıt Et</button>
                  </div>

               </form>
            </div>
         </div>
      </div>
   </div>

   <!-- Edit Modal -->
   <div class="modal fade" id="updateNeighbourhoodModal" tabindex="-1" role="dialog"
      aria-labelledby="NeighbourhoodEditModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="updateNeighbourhoodModalLabel">{{editNeighbourhood?.name}} Mahallesini Düzenle
                  </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                  <!-- Edit user Neighbourhood -->
                  <div class="form-group">
                     <label for="name">Mahalle</label>
                     <input type="text" ngModel="{{editNeighbourhood?.name}}" name="name" class="form-control" id="name"
                        aria-describedby="emailHelp" placeholder="Mahalle adı">
                  </div>
                  <input type="hidden" ngModel="{{editNeighbourhood?.id}}" name="id" class="form-control" id="id">

                  <!-- Edit districts -->
                  <div class="form-group">
                     <select [(ngModel)]="selectedDistrict" name="district" id="district" class="form-control" required>
                        <option *ngFor="let district of districts" [ngValue]="district"
                           [selected]="selectedDistrict.name==district.name">{{district?.name}}
                           {{district?.city?.name}}</option>
                     </select>
                  </div>

                  <div class="modal-footer">
                     <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Kapat</button>
                     <button (click)="onUpdateNeighbourhood(editForm.value)" data-dismiss="modal"
                        class="btn btn-primary">Kayıt Et</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>


   <!-- Delete Modal -->
   <div class="modal fade" id="deleteNeighbourhoodModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <!-- User Neighbourhood -->
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModelLabel">{{deleteNeighbourhood?.name}} Mahallesini Sil
               </h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <!-- Button -->
            <div class="modal-body">
               <p>{{deleteNeighbourhood?.name}} mahallesini silmek ister misiniz?</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                  <button (click)="onDeleteNeighbourhood(deleteNeighbourhood.id)" class="btn btn-danger"
                     data-dismiss="modal">Evet</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Notification for no Neighbourhoods -->
<div *ngIf="neighbourhoodes?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Mahalle Yok!</h4>
      <p>Herhangi bir mahalle bulunmadı.</p>
   </div>
</div>